.landing {
  width:50%;
  height: 100vh;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #adff2f;
}

.landing h1 {
  color: #adff2f;
  font-size: 3rem
}

.cssTyping p, .cssTyping h1, .cssTyping h3 {
  border-right: .15em solid #adff2f;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.cssTyping h3 {
  width: 7.3em;
  animation: type 1.5s steps(25, end), blink .35s step-end infinite alternate;
  animation-fill-mode: forwards;
}

.cssTyping h1 {
  width: 8.75em;
  opacity: 0;
  animation: type2 2.5s steps(40, end), blink .35s step-end infinite alternate;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.cssTyping p {
  width: 34em;
  opacity: 0;
  animation: type3 3s steps(70, end), blink .35s step-end infinite alternate;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #adff2f;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #adff2f;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.socials > a{
  padding-right: 10px;
}

.socials{
  display: flex;
  padding-top: 15px;
  animation: 12s ease 0s normal forwards 1 fadein;
  flex-direction: row;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
